<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Add Doctor</title></head>
<body>
<h1>Add Doctor</h1>

<form th:action="@{/doctors}" th:object="${doctor}" method="post">
    <label>ID: <input type="text" th:field="*{id}" /></label><br>
    <label>Name: <input type="text" th:field="*{name}" /></label><br>
    <label>Department ID: <input type="text" th:field="*{departmentId}" /></label><br>
    <label>License Number: <input type="text" th:field="*{licenseNumber}" /></label><br>
    <button type="submit">Save</button>
</form>

<a th:href="@{/doctors}">Back</a>
</body>
</html>
