<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Add Medical Staff Appointment</title></head>
<body>
<h1>Add Medical Staff Appointment</h1>

<form th:action="@{/staff-appointments}" th:object="${appointment}" method="post">
    <label>ID: <input type="text" th:field="*{id}" /></label><br>
    <label>Appointment ID: <input type="text" th:field="*{appointmentId}" /></label><br>
    <label>Medical Staff ID: <input type="text" th:field="*{medicalStaffId}" /></label><br>
    <button type="submit">Save</button>
</form>

<a th:href="@{/staff-appointments}">Back</a>
</body>
</html>