<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Medical Staff Appointments</title></head>
<body>
<h1>Medical Staff Appointments</h1>

<a th:href="@{/medicalstaffappointments/new}">Add new MSA</a>

<table border="1">
    <tr><th>ID</th><th>Appointment ID</th><th>Staff ID</th><th>Action</th></tr>
    <tr th:each="m : ${medicalstaffappointments}">
        <td th:text="${m.id}"></td>
        <td th:text="${m.appointmentId}"></td>
        <td th:text="${m.medicalStaffId}"></td>
        <td>
            <form th:action="@{'/medicalstaffappointments/' + ${m.id} + '/delete'}" method="post">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>
