<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Add Nurse</title></head>
<body>
<h1>Add Nurse</h1>

<form th:action="@{/nurses}" th:object="${nurse}" method="post">
    <label>ID: <input type="text" th:field="*{id}" /></label><br>
    <label>Name: <input type="text" th:field="*{name}" /></label><br>
    <label>Department ID: <input type="text" th:field="*{departmentId}" /></label><br>
    <label>Qualification Level: <input type="text" th:field="*{qualificationLevel}" /></label><br>
    <button type="submit">Save</button>
</form>

<a th:href="@{/nurses}">Back</a>
</body>
</html>
