<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Medical Staff</title>
</head>
<body>
<h1>All Medical Staff</h1>

<p><a th:href="@{/doctors/new}">Add New Doctor</a> | <a th:href="@{/nurses/new}">Add New Nurse</a></p>

<table border="1">
    <thead>
    <tr>
        <th>Type</th>
        <th>ID</th>
        <th>Name</th>
        <th>Department</th>
        <th>Details (License/Qual.)</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="staff : ${staffList}">
        <td th:text="${staff.getClass().getSimpleName()}"></td>
        <td th:text="${staff.id}"></td>
        <td th:text="${staff.name}"></td>

        <td th:text="${staff.department != null ? staff.department.name : 'N/A'}"></td>

        <td>
            <span th:if="${#fields.hasProperty(staff, 'licenseNumber')}"
                  th:text="'License: ' + ${staff.licenseNumber}"></span>
            <span th:if="${#fields.hasProperty(staff, 'qualificationLevel')}"
                  th:text="'Qual.: ' + ${staff.qualificationLevel}"></span>
        </td>

        <td>
            <a th:href="@{'/'+ ${staff.getClass().getSimpleName().toLowerCase()} + '/' + ${staff.id} + '/edit'}">Edit</a>
            |
            <form th:action="@{'/staff/' + ${staff.id} + '/delete'}" method="post" style="display:inline;">
                <button type="submit" onclick="return confirm('Are you sure you want to delete this staff member?');">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>