<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hospital Management</title>
</head>
<body>
<h1>Hospital Management System</h1>

<p><a th:href="@{/patients}">View Patients</a></p>
<p><a th:href="@{/appointments}">View Appointments</a></p>
<p><a th:href="@{/doctors}">View Doctors</a></p>
<p><a th:href="@{/nurses}">View Nurses</a></p>
<p><a th:href="@{/staff}">View All Medical Staff</a></p>
<p><a th:href="@{/departments}">View Departments</a></p>
<p><a th:href="@{/rooms}">View Rooms</a></p>
<p><a th:href="@{/hospitals}">View Hospitals</a></p>
<p><a th:href="@{/staff-appointments}">View Staff Appointment Records</a></p>

</body>
</html>